<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RESEND_API_KEY</key>
	<string>re_your_resend_api_key_here</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>YOUR_IOS_CLIENT_ID.apps.googleusercontent.com</string>
	<key>API_BASE_URL</key>
	<string>http://127.0.0.1:3000/api/v1</string>
	<key>SYNC_API_KEY</key>
	<string>same_value_as_LikeMindsNestJs_SYNC_API_KEY</string>
</dict>
</plist>
